---
import Header from './Header.astro';
import Footer from './Footer.astro';
import CookieConsent from './CookieConsent.astro';
import TempsAnalytics from './TempsAnalytics.astro';

const { currentPath = '/' } = Astro.props;
---

<Header currentPath={currentPath} />
<main class="flex-1">
  <slot />
</main>
<Footer />
<CookieConsent />
<TempsAnalytics />
